.header {
    background: url(../../../assets/img/bombiEnchu.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
  }

  .header .navbar {
    background-color: transparent !important;
  }